In [1]:
#problem 1: Unique Words in a Sentence

#get user input
sentence = input("Enter sentence: ")
#split the sentence into words
words = sentence.split()
#convert the list of words to a set to get unique words
unique_words = set(words)
#count the number of unique words
unique_count = len(unique_words)
#print the results
print("Unique words count:", unique_count)
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'python', 'easy', 'is', 'and'}

In [2]:
#problem 2: Highest Salary from Employee Data
#create a dictionary with employee names and their salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#initialize variables
highest_salary = 0
highest_paid_employee = ""
#loop through each employee in the dictionary
for employee_name, salary in employees.items():
    #check if current salary is higher
    if salary > highest_salary:
        highest_salary = salary
        highest_paid_employee = employee_name
#print the result
print("Highest Salary:", highest_paid_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
#problem 3: Find Maximum and Minimum Values

#list of temparatures
temparatures = [45, 22, 89, 10, 66]
#initialize max and min
maximum = temparatures[0]
minimum = temparatures[0]
#loop through each temparature
for temp in temparatures:
    #check if current temparature is greater than maximum
    if temp > maximum:
        maximum = temp
    #check if current temparature is less than minimum
    if temp < minimum:
        minimum = temp
#display the results
print("List:", temparatures)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
#problem 4: Count Products Above a Price Threshold

#list of product prices
prices = [450, 1200, 899, 1500, 300]
#initialize a counter to keep track of products above 1000
count = 0
#loop through each price
for price in prices:
    #check if the price is greater than 1000
    if price > 1000:
        count = count + 1
#display the result
print("Products above 1000:", count)

Products above 1000: 2

In [5]:
#problem 5: Calculate Attendance Percentage

#list of attendance records
attendance = ["P", "P", "A", "P", "P"]
#initialize a counter for present days
present_count = 0
#loop through each day
for day in attendance:
    #check if the student was present
    if day == "P":
        present_count = present_count + 1
#calculate total number of days
total_days = len(attendance)
#calculate attendance percentage
attendance_percentage = (present_count / total_days) * 100
#display the result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [6]:
#problem 6: Remove Duplicate Phone Numbers

#list of phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
#convert the list to a set to remove duplicates
unique_numbers = set(phone_numbers)
#display the result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [8]:
#problem 7: Count Character Frequency

#create a string
text = "python programming"
#create an empty dictionary
char_count = {}
#loop through each character
for char in text:
    #check if the character is in the dictionary
    if char in char_count:
        #if yes, increase its count by 1
        char_count[char] = char_count[char] + 1
    else:
        #if no, add it to the dictionary with count 1
        char_count[char] = 1
#display the result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, ' ': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

In [9]:
#problem 8: Convert List to Tuple

#create a list
my_list = [10, 20, 30]
#convert the list to a tuple
my_tuple = tuple(my_list)
#display the result
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [10]:
#problem 9: Check if a Key Exists in a Dictionary

#create a dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
#define the key to search for
search_key = "Ravi"
#check if the key exists in dictionary
if search_key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [12]:
#problem 10: Calculate Average Marks

#create a list
marks = [85, 93, 60, 55, 75]
#initialize a variable to store the sum of marks
total = 0
#loop through each mark
for mark in marks:
    #add each mark to the total
    total = total + mark
#calculate the total number of marks
number_of_marks = len(marks)
#calculate the average
average = total / number_of_marks
#display the result
print("Average Marks:", average)

Average Marks: 73.6